html{
    user-select: text;
    -webkit-user-select:text;
    height: 100%;
    width: calc(100%);
    box-sizing: border-box;
    margin-top: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
    color: black;
    text-align: left;
    padding-left: 10px;
    background:whitesmoke;
    padding-right: 10px;
    overflow-x: hidden;
}

body{
    padding-top: 20px !important;
    padding-left: 20px !important;;
    color: black;
    padding-right: 20px !important;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    left: 50%;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    overflow-y: scroll;
    user-select: text;
    -webkit-user-select:text;
    max-width: 800px;
    height: 100%;
}
@media screen and (max-width: 769px) {
    html{
        background:white;
    }
    body{
        padding-left: 0px !important;;
        padding-right: 0px !important;
    }
}
span{
    color: #233659;
}
.js{
    text-align: left;
}
h4{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 5px;
    line-height: 25px;
}
.js{
    text-align: left;
}
h4{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
}
a{
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.inner{
    box-sizing: border-box;
    margin: 10px;
}
::-webkit-scrollbar {
    display: none;
}