html {
    width: 100%;
    height: 100%;
}

body {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.list-item{
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: 1px solid whitesmoke;
}
.itemUserFlex{
    width: 100%;
    display: flex;
    align-items: center;
}
.head{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}
.flexCenter{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px 5px;
}
.textLoading {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    font-size: 13px;
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../img/loading.gif");
}
.pick{
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.hintImage{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 30px;
}
.title{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}

.content{
    margin-top: 5px;
    max-width: calc(100%);
    margin-bottom: 5px;
    font-size: 14px;
    color: #6a6a6a;
    overflow: hidden;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
}
.centerMax{
    width: calc(100% - 100px);
}
.count{
    margin-right: 10px;
    font-size: 13px;
    margin-left: 5px;
    color: #6a6a6a;
}
.count2{
    margin-left: 10px;
    font-size: 13px;
    color: #6a6a6a;
}
.countimage{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}
.edit{
    position: absolute;
    right: 15px;
    top: -5px;
    color: #6a6a6a;
    font-size: 13px;
}